{% extends 'base.html' %}
{% block body %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-light w-100 p-3" role="alert" style="margin-top: 1%;">
            <h1 class="d-flex justify-content-center">{{article.제목}}</h1>
        </div>
    </div>
        <div class="d-flex justify-content-center">
        <div class="alert alert-danger w-25 p-3" role="alert">
            <p class="d-flex justify-content-center">{{article.보기A}}</p>
        </div>
        <div class="alert alert-primary w-25 p-3" style="margin-left: 1%;" role="alert">
            <p class="d-flex justify-content-center">{{article.보기B}}</p>
        </div>
    </div>
<hr>
<form action="{% url 'BG:comment_create' article_id=article.id %}" method="POST" style="margin-left: 14%;">
    {% csrf_token %}
    {{form}}
    
    <button type="submit"value="save" style="margin-top: 1%;" class="btn btn-secondary">제출</button>
</form>

{% for comment in comments %}
<div class="d-flex justify-content-center">
    <div class="alert alert-secondary w-50 p-3 " role="alert">
        <h4 class="alert-heading">{{comment.답변}}</h4>
        <hr>
        <p>{{comment.내용}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}