{% extends 'base.html' %}

{% block body %}
    <form action="">
        <h1>{{article.title}}</h1>
        <p>{{article.content}}</p>
        <a href="{% url 'articles:update' id=article.id %}">update</a>
    </form>

    <hr>
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
    <p>댓글 출력 방법 1</p>
    {% for comment in article.comment_set.all %}
        <li>{{comment.content}}</li>
        <form action="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
    {% endfor %}

{% endblock %}